nav ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-left: 25px;
}

.nav-link {
  color: darkblue;
}

#navbar {
  background-color: lightblue;
}

.portfolioName {
  color: darkblue;
}